p .Forecast {
  margin-bottom: 0;
}

.Day {
  color: #ffffff;
  font-size: 14.5px;
  font-weight: 900px;
  text-align: center;
  box-shadow: rgba(37, 39, 89, 0.15) 0 5px 5px 0;
  background-color: #557174;
  padding: 10px;
  line-height: 40px;
  margin-top: 5px;
}

.Forecast {
  position: relative;
  bottom: 20px;
}

.Forecast .card-body {
  padding: 5px;
  background-color: #557174;
}
