h1,
h2,
h3 {
  position: relative;
  top: -35px;
}
h1 {
  color: #557174;
  font-size: 50px;
}

h2,
h3 {
  color: #9dad7f;
  font-size: 25px;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  color: #9dad7f;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 30px;
}

.Weather {
  position: relative;
  text-align: center;
}

.Toronto {
  border: 0 solid;
  text-align: center;
}

.main-degree {
  position: relative;
  left: 40px;
  bottom: 50px;
}

.main-degree {
  color: #557174;
  font-size: 65px;
  line-height: 50px;
}

.card-body {
  padding: 5px;
  box-shadow: none;
  background-color: #f7f7e8;
}

.humidityWind {
  border: 0 solid;
  box-shadow: none;
  text-align: center;
}

.Overview {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 5;
}
