p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  color: #9dad7f;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  position: relative;
  bottom: 30px;
}

.degree-f a,
.degree-c a {
  color: #9dad7f;
}
.Weather {
  position: relative;
  text-align: center;
}

.Toronto {
  border: 0 solid;
  text-align: center;
}

.main-degree .active {
  color: #557174;
  cursor: default;
}

.main-degree .active:hover {
  text-decoration: none;
}

.main-degree {
  position: relative;
  left: 40px;
  bottom: 50px;
}

.main-degree {
  color: #557174;
  font-size: 65px;
  line-height: 50px;
}

.degree-c:hover {
  color: #9dad7f;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.card-body {
  padding: 5px;
  box-shadow: none;
  background-color: #f7f7e8;
}

.humidityWind {
  border: 0 solid;
  box-shadow: none;
  text-align: center;
}
